<div>
	<div class="skf_tp">
			<img ui-sref="list" src="images/t1.png"/>
		</div>
		<div class="list_fl">
			<p>分类:</p>
		</div>
		<form class="list_dx">
			<label style="margin-right: 1rem;" ng-repeat="x in Sdata" ng-click="Sfn($index)"><input name="Fruit" type="radio"/><p>{{x}}</p></label>
		</form>
		<div class="list_fl">
			<p>出现频率:</p>
		</div>
		<form class="list_pl">
			
			<label ng-repeat="x in Sdata2" ng-click="Sfn2($index)"><input name="Fruit" type="radio"/><p>{{x}}</p></label>
			
			
		</form>
		<div class="list_fl">
			<p>重要性:</p>
		</div>
		<form class="list_dx">
			<label ng-repeat="x in Sdata1" ng-click="Sfn1($index)"><input name="Fruit" type="radio"/><p>{{x}}</p></label>
		</form>
		<div class="list_fl">
			<p>简介:</p>
		</div>
		<textarea class="texta" ng-model="Stext"></textarea>
		<div class="list_fl">
			<p style="margin-bottom: 0.5rem;">描述:</p>
			<summernote height="80"></summernote>
		</div>
		
   		
   		<div class="list_fl" style="margin-top: -1rem;">
			<p>错误的状态:</p>
		</div>
		<form class="list_dx">
			<label ng-repeat="x in Sdata3" ng-click="Sfn3($index)"><input name="Fruit" type="radio"/><p>{{x}}</p> </label>
			
		</form>
		<form class="list_dx">
			<label ng-repeat="x in Sdata4" ng-click="fn($index)" ng-model="x"><input name="Fruit" type="radio"/><p>{{x}}</p> </label>
		<div id="show"></div>	
		</form>
		
		<button class="btn2" ng-click="pushbug()">发布</button>
</div>
