<div>
	<div class="skf_tp">
			<img src="../images/t1.png"/>
		</div>
		<div class="list_fl">
			<p>分类:</p>
		</div>
		<form class="list_dx">
			<label ng-repeat="x in Sdata" ng-click="Sfn($index)"><input name="Fruit" type="radio"/>{{x}}</label>
		</form>
		<div class="list_fl">
			<p>出现频率:</p>
		</div>
		<form class="list_pl">
			
			<label ng-repeat="x in Sdata2" ng-click="Sfn2($index)"><input name="Fruit" type="radio"/>{{x}}</label>
			
			
		</form>
		<div class="list_fl">
			<p>重要性:</p>
		</div>
		<form class="list_dx">
			<label ng-repeat="x in Sdata1" ng-click="Sfn1($index)"><input name="Fruit" type="radio"/>{{x}}</label>
		</form>
		<div class="list_fl">
			<p>简介:</p>
		</div>
		<textarea class="texta" ng-model="Stext"></textarea>
		<div class="list_fl">
			<p>描述:</p>
		</div>
		<text-angular ng-model="htmlVariable"></text-angular>
		<!--<div ng-controller="abc">
    		<div text-angular ng-model="htmlVariable"></div>
    		<p>{{htmlVariable}}</p>
   		</div>-->
   		
   		<div class="list_fl">
			<p>错误的状态:</p>
		</div>
		<form class="list_dx">
			<label ng-repeat="x in Sdata3" ng-click="Sfn3($index)"><input name="Fruit" type="radio"/>{{x}} </label>
			
		</form>
		<form class="list_dx">
			<label ng-repeat="x in Sdata4" ng-click="fn($index)" ng-model="x"><input name="Fruit" type="radio"/>{{x}} </label>
		<div id="show"></div>	
		</form>
		
		<button class="btn" ng-click="pushbug()">发布</button>
</div>
